*{
    margin: 0px;
}
.navbar{
    position: sticky;
    top: 0px;
    left: 0px;
}
.navbarr{
    background-color: rgb(227, 242, 249);
}
.h1{
    margin-top: 60px;
    margin-bottom: 40px;
}
.card:hover{
    opacity: 0.5;
}
.btn:hover{
    background-color: black;
    color: white;
}